@import "../../App.scss";

.stories {
    display: flex;
    justify-content:space-evenly;
    gap: 0.8rem;
    height: 12rem;
    max-width: 50vw;
    overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

    @include tablet {
        height: 10rem;
    }
    @include small-tablet {
        height: 10rem;
        max-width: 70vw;
    }

    @include mobile {
        padding-top: 0.5rem;
        height: 5.5rem;
        justify-content: flex-start;
        max-width: 100vw;
    }

    .story {
        width: 7.4rem;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        @include mobile {
            flex: none;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;
            color: white;
            bottom: 0.5rem;
            left: 0.5rem;
            font-size: 0.8rem;
            font-weight: 500;
            text-shadow: 5px 5px 20px black;

            @include mobile {
                display: none;
            }
        }

        button {
            position: absolute;
            bottom: 1.7rem;
            left: 0.5rem;
            background-color: #5271ff;
            padding: 0.2rem;
            width: 1.7rem;
            border: none;
            color: white;
            border-radius: 100%;
            cursor: pointer;
            font-size: 1.2rem;

            @include mobile {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 1.6rem;
                font-size: 1.1rem;
            }
        }
    }
}