@import "../../App.scss";

.storycontainer {
    position: relative;

    .stories {
        display: flex;
        justify-content: flex-start;
        height: 12rem;
        max-width: 50vw;
        overflow-x: scroll;


        &::-webkit-scrollbar {
            display: none;
        }

        @include tablet {
            height: 10rem;
        }

        @include small-tablet {
            height: 10rem;
            max-width: 70vw;
        }

        @include mobile {
            padding-top: 0.5rem;
            height: 9rem;
            justify-content: flex-start;
            max-width: 100vw;
        }

        @include themify($themes) {
            .navigation {
                button {
                    position: absolute;
                    bottom: 42%;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    padding: 0.25rem;
                    z-index: 10;
                    border: none;
                    cursor: pointer;
                    background-color: themed('bgSoft');

                    @include mobile {
                        display: none;
                    }

                    svg {
                        color: themed('textColor');
                    }
                }

                .left {
                    left: 0.5rem;
                }

                .right {
                    right: 0.5rem;

                }
            }

            .story {
                flex: none;
                width: 19%;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                margin-right: 0.5rem;

                @include mobile {
                    width: 23%;
                }

                form {
                    button {
                        position: absolute;
                        right: 0rem;
                        z-index: 100;
                        bottom: 0.1rem;
                        border: none;
                        padding: 0.3rem 0.4rem;
                        color: white;
                        cursor: pointer;
                        border-radius: 3px;
                        background-color: #5271ff;
                    }

                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: contrast(0.85);
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                }

                img:hover {
                    scale: 1.05;
                    filter: none;
                }

                .date {
                    // bottom: 1.5rem;
                    font-size: 0.7rem;
                    white-space: nowrap;
                }

                span {
                    position: absolute;
                    color: white;
                    bottom: 0.5rem;
                    left: 0.5rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                    text-shadow: 5px 5px 20px black;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 1.7rem;
                    left: 0.5rem;
                    background-color: #5271ff;
                    padding: 0.2rem;
                    width: 1.7rem;
                    border: none;
                    color: white;
                    border-radius: 100%;
                    cursor: pointer;
                    font-size: 1.2rem;

                }
            }
        }
    }
}