@import "../../App.scss";

.profile {
    @include themify($themes) {
        background-color: themed("bgSoft");
        width: 100%;
        min-height: 100vh;
        color: themed('textColor');
        padding-right: 1rem;

        @include small-tablet {
            padding-right: 0;
        }

        .images {
            width: 100%;
            height: 15rem;
            position: relative;


            .cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                background-color: themed('bg');
                border-radius: 0 0 6px 6px;
            }

            .coverEdit {
                float: right;
                position: relative;
                bottom: 2.8rem;
                right: 0.5rem;
                cursor: pointer;

                svg {
                    height: 2.2rem;
                    width: 2.2rem;
                    border: 2px solid themed('textColor');
                    border-radius: 50%;
                    padding: 0.4rem;
                    background-color: themed("bgSoftT");
                }
            }

            .edit {
                margin: auto;
                height: 2rem;
                width: 2rem;
                position: relative;
                left: 3.5rem;
                top: 2rem;
                z-index: 1000;
                cursor: pointer;
                backdrop-filter: blur(5px);
                border-radius: 50%;

                svg {
                    height: 2.2rem;
                    width: 2.2rem;
                    border: 2px solid themed('textColor');
                    border-radius: 50%;
                    padding: 0.4rem;
                    background-color: themed("bgSoftT");
                }
            }

            .profilePic {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5rem;
                margin: auto;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;
                // z-index: 100;
                border: 3px solid themed("textColor");
                padding: 2px;
                background-color: themed('bgSoft');
                object-fit: cover;
                object-position: center;

            }

            .svg {
                border: 3px solid themed("font");
                padding: 0.8rem;
            }
        }

        .profileContainer {
            padding: 1.2rem 2.8rem;

            .uInfo {
                height: 15rem;
                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                border-radius: 10px;
                color: themed("textColor");
                background: themed('bg');
                padding: 1.2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    flex-direction: column;
                    padding-top: 4.4rem;
                }

                .left {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    gap: 0.2rem;

                    a {
                        color: themed('textColorSoft');
                    }
                }

                .center {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;

                    .name {
                        font-weight: bold;
                        font-size: 1.5rem;
                        text-wrap: nowrap;
                    }

                    .info {
                        display: flex;
                        flex-wrap: wrap;

                        .item {
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // gap: 0.1rem;

                            span {
                                color: themed('textColorSoft');
                                font-weight: 400;
                                font-size: 0.9rem;
                            }
                        }
                    }

                    button {
                        border: none;
                        padding: 0.5rem 1rem;
                        color: white;
                        cursor: pointer;
                        border-radius: 5px;
                    }

                    .buttons {
                        display: flex;
                        gap: 0.5rem;
                    }
                }

                .modal {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    z-index: 1000;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    width: 100vw;

                    .blur {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100vh;
                        width: 100vw;
                        background-color: themed('bgSoftT');
                        backdrop-filter: blur(10px);
                        animation: modal 0.5s;
                        cursor: pointer;

                        @keyframes modal {
                            0% {
                                translate: 0 -100vh;
                            }
                        }
                    }

                    .items {
                        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                        background-color: themed('bg');
                        padding: 2rem;
                        width: 40%;
                        min-height: 40%;
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        border-radius: 10px;
                        animation: items 0.5s;
                        z-index: 1100;
                        position: relative;

                        @include small-tablet {
                            width: 52%;
                        }

                        @include mobile {
                            width: 95%;
                        }

                        .cross {
                            width: 2rem;
                            position: absolute;
                            right: 1rem;
                            top: 1rem;
                            cursor: pointer;
                        }

                        .cross:hover {
                            color: themed('textColorSoft');
                        }

                        .cprofilePic {
                            width: 100%;
                            overflow: hidden;
                            background-color: themed('textColorSoft');
                            margin: 1rem 0;
                            height: 20rem;
                            border-radius: 5px;
                            color: themed('bg');
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            label {
                                cursor: pointer;

                            }

                            img {
                                width: 100%;
                            }
                        }

                        .buttons {
                            width: 30%;
                            margin: auto;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-around;

                            button {
                                border: none;

                                svg {
                                    width: 1.4rem;
                                    height: 1.4rem;
                                    color: white;
                                    background-color: none;
                                }
                            }

                            button:first-child {
                                background-color: red;
                            }

                            button:nth-child(2) {
                                background-color: green;
                            }
                        }

                        form {
                            display: flex;
                            flex-direction: column;

                            div {
                                display: flex;
                                flex-direction: column;
                                margin: 0.4rem 0;

                                input {
                                    padding: 0.4rem;
                                    border-radius: 0.3rem;
                                    border: 1px solid themed('border');
                                    background: transparent;
                                    color: themed('textColor');
                                }

                                input:focus {
                                    outline: 1.5px solid #5271ff;
                                }
                            }

                            button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #5271ff;
                                height: 2.4rem;
                                margin: 1rem 0;

                                svg {
                                    width: 2rem;
                                    height: 2rem;
                                }
                            }

                            button:hover {
                                color: themed('bg')
                            }
                        }
                    }

                    @keyframes items {
                        0% {
                            translate: 0 200vh;
                        }
                    }
                }

                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.2rem;
                    position: relative;
                    .cPassModal{
                        position: absolute;
                        right: 0;
                        top: 2rem;
                        button{
                            padding: 0.5rem 1rem;
                            border: 1px solid themed('border');
                            background-color: rgb(225, 228, 77);
                            border-radius: 5px;
                            color: black;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}