@import "../../app.scss";

.home {
    @include themify($themes) {
        width: 100%;
        min-height: 100vh;
        background-color: themed("bgSoft");
        padding: 1.2rem 2.5rem;
        color: themed('textColor');
    }
}