@import "../../app.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 4rem;
        border-bottom: 1px solid themed(border);
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 50;

        .left {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icon {
                cursor: pointer;
            }

            span {
                font-weight: bolder;
                font-size: 1.2rem;
                color: themed('logo');
            }

            .search {
                display: flex;
                align-items: center;
                gap: 1rem;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;


                input {
                    padding: 0.2rem;
                    width: 30rem;
                    border: none;
                    background: transparent;
                    color: themed('textColor');
                }

                input:focus {
                    outline: none;
                }

            }


        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .icon {
                cursor: pointer;
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-weight: 500;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    object-fit: cover;

                }

                span {}
            }
        }
    }
}