@import "../../App.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 4rem;
        border-bottom: 1px solid themed(border);
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 50;

        .left {
            display: flex;
            align-items: center;
            gap: 1rem;

            @include mobile {
                justify-content: flex-start;
            }

            .icon {
                cursor: pointer;

                @include mobile {
                    display: none;
                }
            }

            .darkMode {
                @include mobile {
                    display: block;
                    position: fixed;
                    top: 4.8rem;
                    left: 0.2rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-color: themed('bgSoft');
                    padding: 0.5rem;
                    border-radius: 50%;
                    border: 1px solid themed('border');
                    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                }
            }

            .logo {
                font-weight: bolder;
                font-size: 1.2rem;
                color: themed('logo');

                @include mobile {
                    font-size: 1rem;
                }
            }

            .search {
                display: flex;
                align-items: center;
                gap: 1rem;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;
                position: relative;

                @include mobile {
                    position: static;
                    width: 100%;
                }

                input {
                    padding: 0.2rem;
                    width: 30rem;
                    border: none;
                    background: transparent;
                    color: themed('textColor');

                    @include tablet {
                        width: 15rem;
                    }

                    @include small-tablet {
                        width: 5rem;
                    }

                    @include mobile {
                        width: 100%;
                    }
                }

                input:focus {
                    outline: none;
                }

                .result {
                    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                    width: 100%;
                    background-color: themed('bgSoft');
                    border: 1px solid themed('border');
                    border-radius: 0.3rem;
                    position: absolute;
                    top: 3rem;
                    overflow: hidden;

                    @include tablet {
                        width: 22rem;
                    }

                    @include small-tablet {
                        width: 16rem;
                    }

                    @include mobile {
                        width: 70vw;
                        left: 3.6rem;
                        top: 4rem
                    }

                    .item {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        cursor: pointer;
                        padding: 0.5rem 1rem;

                        @include mobile {
                            overflow: hidden;
                            padding: 0.4rem;
                        }

                        .profilesvg {
                            display: block;
                        }

                        img,
                        svg {
                            width: 2.2rem;
                            height: 2.2rem;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        svg {
                            padding: 2px;
                            border: 1px solid themed('textColor');
                        }

                        div {
                            span {
                                color: themed('textColorSoft');
                                font-size: 0.8rem;
                            }

                            span:first-child {
                                color: themed('textColor');
                                font-size: 1rem;
                            }
                        }
                    }

                    .item:hover {
                        background-color: themed('bg');
                    }
                }

            }


        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;


            .icon {
                cursor: pointer;

                @include mobile {
                    display: none;
                }
            }

            .chats {
                position: relative;
                display: flex;
                align-items: center;

                svg {
                    height: 1.45rem;

                    @include mobile {
                        height: 2rem;
                        display: block;
                        position: fixed;
                        top: 4.8rem;
                        right: 0.2rem;
                        width: 2.4rem;
                        height: 2.4rem;
                        background-color: themed('bgSoft');
                        padding: 0.5rem;
                        border-radius: 50%;
                        border: 1px solid themed('border');
                        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                        z-index: 5000;

                    }
                }

            }

            .chats:hover {
                color: #5271ff;
            }

            .active {
                color: #5271ff;
            }

            .nicon:hover {
                color: #5271ff;
            }

            .notifications {
                position: absolute;
                cursor: pointer;
                top: 4rem;
                right: 4rem;
                width: 23rem;
                max-height: 30rem;
                z-index: 501;
                border-radius: 0.3rem;
                overflow-y: scroll;
                background-color: themed("bg");
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 1px 1px 20px 1px themed("shadowSoft");

                .nitem {
                    // padding: 0;
                }
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                font-weight: 500;


                img,
                svg {
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                svg {
                    padding: 2px;
                    border: 1px solid themed('textColor');
                }

                span {
                    @include mobile {
                        display: none;
                    }
                }
            }
        }

        .invisible {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
        }
    }

}