@import "../../app.scss";

.comments {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem;
        padding-top: 0.4rem;

        .write {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.8rem;

            img,
            svg {
                width: 2.12rem;
                height: 2.12rem;
                border-radius: 100%;
                object-fit: cover;
            }

            svg {
                padding: 2px;
                border: 1px solid themed('textColor');
            }

            input {
                flex: 5;
                padding: 0.3rem;
                border-radius: 0.3rem;
                border: 1px solid themed('border');
                background: transparent;
                color: themed('textColor');
            }

            input:focus {
                outline: 1.5px solid #5271ff;
            }


            button {
                flex: 0.35;
                padding: 0.35rem;
                background-color: #5271ff;
                border: none;
                color: white;
                cursor: pointer;
                border-radius: 4px;
            }
        }

        .comment {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            img,
            svg {
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                object-fit: cover;
            }

            svg {
                padding: 2px;
                border: 1px solid themed('textColor');
            }

            .cinfo {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                span {
                    font-weight: 500;
                }

                p {
                    color: themed('textColorSoft');
                    font-size: 0.95rem;
                }
            }

            span {
                text-wrap: nowrap;
            }

            .date {
                flex: 0.8;
                align-self: center;
                color: themed('textColorSoft');
                font-size: 0.9rem;
            }
        }
    }

    .noComments{
        text-align: center;
        padding: 2rem;
        // font-weight: ;
        letter-spacing: 2px;
    }
}