@import "../../App.scss";


.post {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        background-color: themed('bg');
        border-radius: 0.5rem;
        color: themed('textColor');

        .container {

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.2rem;
                padding-bottom: 0;

                .userInfo {
                    display: flex;
                    gap: 1rem;

                    img,
                    svg {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 100%;
                        object-fit: cover;
                    }

                    svg {
                        padding: 2px;
                        border: 1px solid themed('textColor');
                    }

                    .details {
                        .name {
                            font-weight: 500;
                        }

                        .date {
                            font-size: 0.8rem;
                        }
                    }

                }

                .modal {
                    position: relative;
                    
                    svg{
                        width: 2rem;
                        height: 2rem;
                        padding: 0.2rem;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                    svg:hover{
                        background-color: #37393a;

                    }
                    button {
                        position: absolute;
                        top: 0rem;
                        right: 2.5rem;
                        background-color: #f03d37;
                        border: none;
                        padding: 0.5rem;
                        color: white;
                        cursor: pointer;
                        border-radius: 3px;

                    }
                }

            }

            .content {

                p {
                    padding: 0.8rem 1.2rem;
                }

                img {
                    width: 100%;
                    max-height: 30rem;
                    object-fit: cover;
                    cursor: pointer;
                }

                @include mobile {
                    width: 98%;
                    // display:none;
                }

                .objectFit {
                    object-fit: contain;
                }
            }

            .info {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1.2rem;
                padding: 0.8rem 1.2rem;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    cursor: pointer;
                    font-size: 0.9rem;
                }
            }
        }
    }
}