@import "../../App.scss";

.story_container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: space-between;

    @include themify($themes) {
        color: themed('textColor');

        .allStories {
            width: 27%;
            height: 100vh;
            background-color: themed('bgSoftT');
            overflow-y: scroll;
            overflow-x: hidden;

            @include mobile {
                display: none;
            }

            .topCont {
                border-bottom: 0.5px solid themed('border');
                position: sticky;
                top: 0;
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                background-color: themed('bgSoftT');
                backdrop-filter: blur(5px);
            }

            .topContScroll {
                background-color: themed('bgSoft');
            }

            .top {
                height: 4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                width: 90%;
                margin: 0 0.8rem;

                svg {
                    height: 2.2rem;
                    color: themed('textColor');
                    background-color: themed('bgSoft');
                    border-radius: 50%;
                    padding: 0.3rem;

                    @include mobile {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                span {
                    color: themed("logo");
                    font-weight: bolder;
                    font-size: 1.2rem;
                }
            }

            hr {
                // margin: 1rem 0;
                border: none;
                height: 0.5px;
                background-color: themed('border');
                width: 90%;
                margin: auto;
            }

            .middle {
                margin: auto;
                color: themed('textColorSoft');

                h2,
                h4 {
                    margin: 1rem;
                }

                .createStory {
                    display: flex;
                    align-items: center;
                    height: 10%;
                    gap: 0.7rem;
                    padding: 0.5rem;
                    margin: 0.5rem auto;
                    width: 95%;
                    border-radius: 7px;
                    cursor: pointer;

                    .addStory {
                        height: 2.2rem;
                        width: 2.2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                        background-color: themed('bg');
                        border-radius: 50%;
                        font-size: 1.6rem;

                    }

                    div {
                        span:first-child {
                            font-weight: bolder;
                            font-size: 1.1rem;
                        }

                        span {
                            font-weight: 100;
                            font-size: 0.8rem;
                            color: themed('textColorSoft');
                        }
                    }
                }

                .active {
                    background-color: themed('bg');
                }

                .createStory:hover {
                    background-color: themed('bgSoftT');
                }
            }

            .bottom {

                // height: 85%;
                .active {
                    background-color: themed('bg');
                }

                .items:hover {
                    background-color: themed('bgSoftT');
                }

                .items {
                    display: flex;
                    align-items: center;
                    height: 10%;
                    gap: 0.7rem;
                    padding: 0.5rem;
                    margin: 0.5rem auto;
                    border-radius: 7px;
                    width: 95%;
                    cursor: pointer;

                    img,
                    svg {
                        height: 2.2rem;
                        width: 2.2rem;
                        border-radius: 100%;
                        object-fit: cover;
                    }

                    svg {
                        padding: 2px;
                        border: 1px solid themed('textColor');
                    }

                    .storyName {
                        font-weight: bolder;
                        font-size: 1.1rem;
                    }

                    .storyDate {
                        font-weight: 100;
                        font-size: 0.8rem;
                        color: themed('textColorSoft');
                    }
                }
            }
        }

        .storyView {
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            width: 70%;

            @include mobile {
                width: 100%;
                gap: 0;
            }

            .cross {
                svg {

                    height: 2.2rem;
                    color: themed('textColor');
                    background-color: themed('bgSoft');
                    border-radius: 50%;
                    padding: 0.3rem;
                    display: none;

                    @include mobile {
                        display: block;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        z-index: 10;
                    }
                }
            }

            div {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                border-radius: 1rem;
                color: themed('textColor');

                @include mobile {
                    border-radius: 0;
                }
            }

            .left {
                border-radius: 100%;

                @include mobile {
                    display: none;

                }

                button {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                    padding: 0.25rem;
                    border: none;
                    cursor: pointer;
                    background-color: themed('bgSoftT');
                    color: themed('textColor');

                }
            }

            .center {
                background-color: themed('bgSoftT');
                height: 90%;
                width: 50%;
                position: relative;


                @include tablet {
                    width: 60%;
                }

                @include small-tablet {
                    width: 70%;
                }

                @include mobile {
                    width: 100vw;
                    height: 100vh;
                }

                div {
                    color: white;
                    box-shadow: none;
                }

                .top {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    gap: 0.8rem;
                    padding: 0.2rem 0.6rem;
                    text-shadow: 5px 5px 10px black;

                    img,
                    svg {
                        width: 2rem;
                        height: 2rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    svg {
                        padding: 2px;
                        border: 1px solid white;
                    }
                }

                .storyimg {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    position: relative;

                    form {

                        .addAction {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            z-index: 10;
                            top: 0%;
                            left: 0%;
                            width: 100%;
                            height: 100%;

                            .bottom{
                                align-self: flex-end;
                                display: flex;
                                justify-content: space-around;
                                width: 100%;
                                height: 2.3rem;
                                gap: 0.2rem;

                                span,button{
                                    background-color: themed('bgSoftT');
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                    border: none;
                                    color: themed("textColor");
                                    font-size: 1rem;
                                }
                                span:hover,button:hover{
                                    background-color: themed("bgSoft");
                                }
                            }

                            label {
                                height: 50%;
                                width: 50%;
                                background-color: themed('bgSoftT');
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                align-items: center;
                                border-radius: 0.5rem;
                                cursor: pointer;
                                transition: all 0.2s ease-in-out;

                                .createStory {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    align-items: center;

                                    div:first-child {
                                        font-weight: bolder;
                                        font-size: 1.4rem;
                                    }

                                    .plus {
                                        height: 2.2rem;
                                        width: 2.2rem;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 1rem;
                                        background-color: themed('bgSoft');
                                        border-radius: 50%;
                                        font-size: 1.6rem;
                                    }
                                }
                            }

                            label:hover {
                                scale: 1.05;
                            }
                        }
                    }

                    section {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        height: 100%;

                        img {
                            height: 100%;
                            cursor: pointer;
                        }

                        .imgClick {
                            height: auto;
                            width: 100%;
                        }
                    }
                }

                .blurEffect {
                    filter: blur(50px);
                    width: 100%;
                    position: fixed;
                    right: 0;
                    z-Index: -1;
                }

            }

            .right {
                border-radius: 100%;

                @include mobile {
                    display: none;
                }

                button {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                    padding: 0.25rem;
                    border: none;
                    cursor: pointer;
                    background-color: themed('bgSoftT');
                    color: themed('textColor');

                }
            }
        }
    }
}