@import "../../App.scss";

.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        left: 0;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow: scroll;
        background-color: themed('bgSoft');

        @include small-tablet {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            margin: 1rem 0;
            padding-right: 1rem;

            .item {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                background-color: themed('bg');
                padding: 1.2rem;
                margin-bottom: 1rem;

                span {
                    color: gray;
                    font-size: 0.8rem;
                }

                .suggestion {
                    flex-wrap: wrap;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.6rem 0.3rem;
                    border-radius: 5px;

                    @include tablet {
                        flex-wrap: wrap;
                    }

                    span {
                        font-size: 0.8rem;
                        white-space: nowrap;
                    }

                    .userInfo {
                        display: flex;
                        align-items: center;
                        gap: 1.1rem;
                        position: relative;

                        img,
                        svg {
                            width: 2.1rem;
                            height: 2.1rem;
                            border-radius: 50%;
                            object-fit: cover;
                            color: themed('textColor');
                        }

                        svg {
                            padding: 2px;
                            border: 1px solid themed('textColor');
                        }

                        p {
                            flex: 7;
                            color: themed("textColorSoft");
                            font-size: 0.9rem;
                            padding-right: 10px;
                        }

                        span {
                            font-weight: 500;
                            color: themed("textColor");
                            text-wrap: wrap;
                            width: 7rem;
                            font-size: 0.95rem;
                        }

                        .online {
                            width: 0.7rem;
                            height: 0.6rem;
                            border-radius: 100%;
                            background-color: limegreen;
                            position: absolute;
                            top: 0;
                            left: 1.5rem;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;

                        button {
                            border: none;
                            padding: 0.5rem;
                            color: white;
                            cursor: pointer;
                            border-radius: 3px;

                            &:first-child {
                                background-color: #5271ff;
                            }

                            &:last-child {
                                background-color: #f0544f;
                            }
                        }
                    }
                    svg{
                        cursor: pointer;
                        height: 1.5rem;
                        width: 1.5rem;
                        color: themed("textColor");
                        z-index: 10;
                    }
                    svg:hover{
                        color: #5271ff;
                    }
                }

                .user:hover {
                    background-color: themed('bgSoftT');
                }
                .noUsersFollowed{
                    text-align: center;
                    color: themed('textColorSoft');
                    margin: 5rem 0;
                }
                .friends {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 0.5rem;

                    .active {
                        font-weight: bold;
                        text-decoration: underline;
                        color: themed('textColorSoft');
                    }

                    .border {
                        height: 1.5rem;
                        width: 2px;
                        background-color: themed('border');
                    }

                    span {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}