@import "../../app.scss";

.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        left: 0;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow: scroll;
        background-color: themed('bgSoft');

        @include small-tablet {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            margin: 1rem 0;
            padding-right: 1rem;

            .item {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                background-color: themed('bg');
                padding: 1.2rem;
                margin-bottom: 1rem;

                span {
                    color: gray;
                    font-size: 0.8rem;
                }

                .suggestion {
                    flex-wrap: wrap;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0.8rem 0;

                    @include tablet {
                        flex-wrap: wrap;
                    }

                    span {
                        white-space: nowrap;
                    }

                    .userInfo {
                        display: flex;
                        align-items: center;
                        gap: 1.1rem;
                        position: relative;

                        img {
                            width: 2.1rem;
                            height: 2.1rem;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        p {
                            flex: 7;
                            color: themed("textColorSoft");
                            font-size: 0.9rem;
                            padding-right: 10px;
                        }

                        span {
                            font-weight: 500;
                            color: themed("textColor");
                            ;
                            width: 70%;
                            font-size: 0.95rem;
                        }

                        .online {
                            width: 0.7rem;
                            height: 0.6rem;
                            border-radius: 100%;
                            background-color: limegreen;
                            position: absolute;
                            top: 0;
                            left: 1.5rem;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;

                        button {
                            border: none;
                            padding: 0.5rem;
                            color: white;
                            cursor: pointer;
                            border-radius: 3px;

                            &:first-child {
                                background-color: #5271ff;
                            }

                            &:last-child {
                                background-color: #f0544f;
                            }
                        }
                    }
                }
            }
        }
    }
}